<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Follow Back list</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Follow Back List</h1>
        <form class="from-post" action="get_users" method="post">
          <input type="text" name="handle" placeholder="Enter Name">
          <input type="submit" value="Get Users!">
        </form>
      </div>
    </div>
  </body>
</html>
